body {
    background-color: #5D4037;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tituloContainer {
    background-color: #E63946;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #F4E1D2;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #F4E1D2;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenido img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
    width: 50%;
}

.contenido h2 {
    margin-bottom: 10px;
    text-align: left;
}

footer {
    background-color: #6A994E;
    padding: 20px;
}



@media (max-width: 768px) {
    .tituloContainer {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        justify-content: center;
        margin: 10px 0;
    }

    .nav a {
        margin: 0 10px;
    }

    .contenido {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 10px 0;
    }
}