body {
    background-color: #5D4037;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tituloContainer {
    background-color: #E63946;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #F4E1D2;
    margin-bottom: 10px;
}

.nav {
    text-align: center;
    margin-bottom: 10px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #F4E1D2;
}

.contenido {
    padding: 20px;
}

.parrafos p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #F4E1D2;
}

.surcursales {
    padding: 20px;
    margin-top: 20px;
}

.surcursales h2 {
    font-size: 24px;
    color: #F4E1D2;
    margin-bottom: 10px;
}

.surcursales ul {
    list-style-type: none;
    padding: 0;
}

.surcursales li {
    margin-bottom: 20px;
}

.surcursales h4 {
    font-size: 18px;
    color: #6A994E;
    margin-bottom: 5px;
}

.surcursales p {
    font-size: 14px;
    color: #F4E1D2;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #6A994E;
    padding: 20px;
}


@media (max-width: 768px) {
    .tituloContainer {
        flex-direction: column;
    }

    .nav {
        display: block;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .tituloContainer {
        padding: 10px;
    }

    .nav a {
        margin: 0 5px;
    }

    .contenido {
        padding: 10px;
    }

    .surcursales {
        padding: 10px;
    }

    img {
        width: 100%;
    }
}