body {
    background-color: #5D4037;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tituloContainer {
    background-color: #E63946;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #F4E1D2;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #F4E1D2;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.menu-item {
    background-color: #E63946;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.menu-item img {
    max-width: 100%;
}
footer {
    background-color: #6A994E;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .menu-item {
        padding: 10px;
    }
}